.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1rem;
  cursor: pointer;
  align-content: center;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #111827;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  border: 0.1px solid #e5e7eb;
  overflow: hidden;
}

.card a img {
  width: 100%;
}

.card-game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.card-game-info p {
  display: flex;
  gap: 0.5rem;
  color: #9e9ea7;
}

span {
  text-decoration: underline;
}
