.carrusel-container {
  width: 700px;
  height: 390px;
}

.slider-carrusel {
  position: relative;
  height: 100%;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  white-space: nowrap;
}
li{
  display: inline;
}


img{
  width: 100%;
}


.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}