.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    margin-top: 24px;
    background-color: rgba(0, 0, 0, 0.7);
  }